@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  max-width: var(--layout-max-width);
  /*margin: 1em auto!important;*/
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - var(--column-spacing));
}
