/*--------- callout ---------*/

.notion-callout__content {
    overflow: visible!important;
}
.notion-callout {
    overflow: visible!important;
}

/*--------- quote ---------*/

.notion-quote {
    border: none!important;
    padding:var(--callout-padding)!important;
    text-align: center!important;
    border-radius: var(--callout-border-radii)!important;
}

.notion-quote .notion-text {
    text-align: left!important;
}

.notion-quote p{
  font-family: var(--secondary-font)!important;
}

/*-----------Page Link-----------*/

.notion-page {
  margin-bottom: 1em!important;
  border-radius: var(--callout-border-radii)!important;
}

.notion-page > div {
  border: 1px solid var(--color-border-default)!important;
  border-radius: var(--callout-border-radii)!important;


  display: flex!important;
  transition: 300ms ease-in!important;
  padding: 1em!important;

}

.notion-page__title .notion-semantic-string {
    border-bottom: none!important;
}

.notion-page:hover {
  border-color: var(--color-ui-hover-bg)!important;

}


/*--------- CTA ---------*/



.highlighted-background {
      border-radius: var(--callout-border-radii)!important;
}


.highlighted-background a{
    padding: 1em 2em!important;
    border: none!important;
    opacity: 1!important;
    border-radius: var(--callout-border-radii)!important;
    color: var(--color-bg-default)!important;
    display: inline-block!important;
    text-align: center!important;
}


.highlighted-background.bg-blue a{
    background-color: var(--color-blue)!important;
    -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-blue a:hover{
    background-color: hsla(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.5)!important;

}

.highlighted-background.bg-brown a{
    background-color: var(--color-brown)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--brown-h), var(--brown-s), var(--brown-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-brown a:hover{
    background-color: hsla(var(--brown-h), var(--brown-s), calc(var(--brown-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--brown-h), var(--brown-s), var(--brown-l), 0.5)!important;

}


.highlighted-background.bg-orange a{
    background-color: var(--color-orange)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--orange-h), var(--orange-s), var(--orange-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-orange a:hover{
    background-color: hsla(var(--orange-h), var(--orange-s), calc(var(--orange-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--orange-h), var(--orange-s), var(--orange-l), 0.5)!important;

}

.highlighted-background.bg-red a{
    background-color: var(--color-red)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--red-h), var(--red-s), var(--red-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-red a:hover{
    background-color: hsla(var(--red-h), var(--red-s), calc(var(--red-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--red-h), var(--red-s), var(--red-l), 0.5)!important;

}


.highlighted-background.bg-yellow a{
    background-color: var(--color-yellow)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-yellow a:hover{
    background-color: hsla(var(--yellow-h), var(--yellow-s), calc(var(--yellow-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--yellow-h), var(--yellow-s), var(--yellow-l), 0.5)!important;

}


.highlighted-background.bg-green a{
    background-color: var(--color-green)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--green-h), var(--green-s), var(--green-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-green a:hover{
    background-color: hsla(var(--green-h), var(--green-s), calc(var(--green-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--green-h), var(--green-s), var(--green-l), 0.5)!important;

}


.highlighted-background.bg-purple a{
    background-color: var(--color-purple)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--purple-h), var(--purple-s), var(--purple-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-purple a:hover{
    background-color: hsla(var(--purple-h), var(--purple-s), calc(var(--purple-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--purple-h), var(--purple-s), var(--purple-l), 0.5)!important;

}

.highlighted-background.bg-pink a{
    background-color: var(--color-pink)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--pink-h), var(--pink-s), var(--pink-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-pink a:hover{
    background-color: hsla(var(--pink-h), var(--pink-s), calc(var(--pink-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--pink-h), var(--pink-s), var(--pink-l), 0.5)!important;

}

.highlighted-background.bg-gray a{
    background-color: var(--color-gray)!important;
      -webkit-box-shadow: 0em 1em 1em 0em hsla(var(--gray-h), var(--gray-s), var(--gray-l), 0.3)!important;
    transition: 0.2s!important;

}


.highlighted-background.bg-gray a:hover{
    background-color: hsla(var(--gray-h), var(--gray-s), calc(var(--gray-l) + 10%))!important;
      -webkit-box-shadow: 0em 2em 2em 0em hsla(var(--gray-h), var(--gray-s), var(--gray-l), 0.5)!important;

}
