/*---------  Collection Start ---------*/

.notion-collection-card .notion-collection-card__anchor {
  opacity: 0!important;
}

.notion-collection__header {
  display: none!important;
}

/*---------  Collection Switch ---------*/

.notion-dropdown__button {
  justify-content: space-between!important;
  width: 100%!important;
  border: 1px solid var(--color-border-default)!important;
  padding: 0.5em 1em!important;
  border-radius: var(--border-radii-layout)!important;
  margin-bottom: 1em!important;
}

.notion-dropdown__menu-header, .notion-dropdown__option-icon, .notion-dropdown__button svg:first-of-type {
  display: none!important;
}

.notion-dropdown__menu {
  background: var(--color-bg-default) !important;
  box-shadow: 0px 24px 16px 0px rgba(0,0,0,0.05)!important;
  transform: none !important;
  padding: 0!important;
  width: 100%!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: 8px!important;
  top: 0px!important;
}

.notion-dropdown__option-list {
  padding: 0px!important;
}

.notion-dropdown__option {
  padding: 0.5em 1em!important;
}

.notion-dropdown__option p {
  margin-bottom: 0px!important;
}

.notion-pill {
  padding: 0.5em 1em!important;
  border-radius: var(--border-radii-layout)!important;
}

/*---------  BOARD DATABASE (TESTIMONIALS) ---------*/

.notion-collection-board__item:hover {
  transform: scale(1.01)!important;
}

.notion-collection-board {
  grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) )!important;
  border: none!important;
  overflow: visible!important;
}

.notion-collection-board__item {
  margin-bottom: var(--collection-card-gap)!important;
  transition: 0.3s ease-out!important;
}

.board .notion-collection-card__content {
  padding-inline-end: var(--padding-layout)!important;
}


.notion-collection-board__column {
  border-radius: var(--border-radii-layout)!important;
}

/*---------  TABLE DATABASE ---------*/

.notion-collection-table {
  font-size: 1rem!important;
  border: 1px solid var(--color-border-default)!important;
  border-radius: var(--border-radii-layout)!important;
  overflow: hidden!important;
  padding: 1em!important;
  margin-bottom: 0!important;
}

.notion-collection-table__wrapper{
  border: 1px solid var(--color-border-default)!important;
  padding: 0em!important;
  border-radius: var(--callout-border-radii)!important;
}

.notion-collection-table td, .notion-collection-table th {
  padding: 1rem!important;
  border: 1px solid var(--color-border-default)!important;
  overflow: hidden!important;
  background: var(--color-bg-default)!important;
}

.notion-collection-table__head {
  background-color: var(--color-ui-hover-bg-light)!important;
}

.notion-collection-table__cell {
  padding: 1rem!important;
}

.notion-collection-table__cell .notion-pill {
  margin-bottom: 0.5rem!important;
}

.notion-collection-table__cell.title .notion-semantic-string {
  white-space: normal!important;
}

/*---------  LIST   ---------*/

.notion-collection-list {
  border: none!important;
  border-radius: var(--border-radii-layout)!important;
  overflow: visible!important;
}

.notion-collection-list__item {
  background: var(--color-card-bg)!important;
  padding: var(--collection-card-content-padding)!important;
  !important;
  box-shadow: var(--collection-card-shadow)!important;
  transition: 0.3s !important;
  margin-bottom: 1em!important;
}

.notion-collection-list__item .notion-property__title
{
  font-size: var(--collection-card-title-size)!important;
}

.notion-collection-list__item:hover {

  transform: scale(1.01)!important;
}

.notion-collection-list__item .notion-property__title .notion-semantic-string > span {
  border-bottom: none!important;
  white-space: normal!important;
}

.notion-property__number__progress-bar {

  width: 4em!important;
  height: 0.5em!important;
}

/*---------  Simple TABLE ---------*/

.notion-table {
  font-size: 1rem!important;
  overflow: hidden!important;
  padding: var(--callout-padding)!important;
}

.notion-table td, .notion-table th {
  padding: 1rem!important;
  overflow: hidden!important;
}
