/*--------- footer ---------*/

.super-footer.stack {
    align-items: center!important;
}


.super-footer__links {
    font-size: 1em!important;
    margin: 2em 0em!important;
}

.super-footer__footnote {
    font-size: 1em!important;
    opacity: 0.5!important;
}

.super-footer__icons {
  gap: 36px 
  
}


.super-footer.floating {
    border-radius: var(--border-radii-layout)!important;
    align-self: center!important;
    width: calc(100vw - var(--column-spacing))!important;
    max-width: calc(var(--layout-max-width) - var(--column-spacing))!important;
}
