/* -- GALLERY DATABASE  -- */

/* Animations */

.notion-collection-card {
    transition: 0.2s ease-out!important;
}

.notion-collection-card:hover {
    opacity: 0.88;
    background: var(--color-card-bg-hover)!important;
    transition: 0.2s ease-in!important;
}

.notion-collection-card:hover .notion-collection-card__content {
    background: var(--color-card-bg-hover)!important;
    transition: 0.2s ease-in!important;
}

.notion-collection-card__property-list {
    margin-top: 8px!important;
}

.notion-collection-card__cover {
    border-radius:var(--collection-card-border-radii)!important;
}

.notion-collection-gallery {
    border: none!important;
}

/* Large two column layout */

.notion-collection-gallery.large {
    grid-template-columns: 1fr!important;
}

.notion-collection-gallery.large .notion-collection-card {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}

.notion-collection-gallery.large .notion-collection-card__cover {
    flex: 2 !important;
}

.notion-collection-gallery.large .notion-collection-card__content {
    flex: 1 !important;
    padding-left: 2em !important;
    transition: 0.2s ease-out!important;
}

@media (max-width: 880px) {
    .notion-collection-gallery.large .notion-collection-card {}

    .notion-collection-gallery.large .notion-collection-card__cover {}

    .notion-collection-gallery.large .notion-collection-card__content {
        position: absolute!important;
        bottom: 0em!important;
        width: 100%!important;
        background: var(--color-card-bg);
        box-shadow: var(--collection-card-shadow)!important;
        transition: 0.2s ease-out!important;
    }
}

.notion-collection-gallery.medium {
    grid-template-columns: 1fr 1fr !important;
}

.notion-collection-gallery.small {
    grid-template-columns: 1fr 1fr 1fr!important;
}

.notion-collection-gallery.small .notion-collection-card__content,
.notion-collection-gallery.medium .notion-collection-card__content {
    position: absolute!important;
    bottom: 0em!important;
    width: 100%!important;
    background: var(--color-card-bg);
    box-shadow: var(--collection-card-shadow)!important;
    transition: 0.2s ease-out!important;
}

.notion-collection-card.gallery .notion-collection-card__content .notion-property__number:nth-child(1){
    position: absolute !important;
    color: rgb(255,255,255)!important;
    background: rgba(0,0,0,0.5)!important;
    top: -3.5em!important;
    right: 0!important;
    z-index: 2!important;
    display: flex!important;
    padding: 0.5em 1em!important;
    font-style: normal!important;
    font-weight: 500 !important;
    line-height: 1em!important;
    border-radius: calc(var(--collection-card-border-radii) - 4px)!important;
    backdrop-filter: blur(8px)!important;
}

.notion-collection-card.gallery .notion-collection-card__property {
    min-height: 0!important;
}
