/*--------- NAVBAR ---------*/

.super-navbar {
    max-width: var(--layout-max-width)!important;
    margin: 1em auto !important;
    width: calc(100% - var(--column-spacing))!important;
    top: 1em!important;
    height: 3.5em!important;
}

.super-navbar__cta {
    padding: 0.75em 2em!important;
    border-radius: var(--callout-border-radii)!important;
    transition: 0.1s ease-in-out!important;
}
