/*---------  TABLE OF CONTENTS  ---------*/

.notion-table-of-contents {
  padding: var(--border-radii-layout)!important;
  margin: 1em 0!important;
  border-radius: var(--callout-border-radii)!important;
  border: 1px solid var(--color-border-default)!important;
}

.notion-table-of-contents.bg-yellow, .notion-table-of-contents.bg-yellow, .notion-table-of-contents.bg-orange, .notion-table-of-contents.bg-gray, .notion-table-of-contents.bg-brown, .notion-table-of-contents.bg-green, .notion-table-of-contents.bg-blue, .notion-table-of-contents.bg-purple, .notion-table-of-contents.bg-pink,.notion-table-of-contents.bg-red{
  border: none!important;
}



.notion-table-of-contents__item {
    border-radius: 4px!important;
    padding-left: 0.5em!important;
}

.notion-table-of-contents__item .notion-semantic-string:not(.no-border) {
    background: none!important;
}


/*-----TODO-------*/

.notion-to-do__content {
    margin-bottom: 1rem!important;
}


.notion-to-do__icon {
  margin-inline: 0px!important;
  margin-right: 1rem!important;

}

.notion-checkbox{
  width: 1.5em!important;
  height: 1.5em!important;
  border-radius: var(--border-radii-layout)!important;
  background: var(--color-bg-default)!important;
  border: 1px solid var(--color-checkbox-bg)!important;

}

.notion-checkbox svg{
  display: none!important;
}

.notion-checkbox.checked {
  background: var(--color-checkbox-bg)!important;
  border: 1px solid var(--color-checkbox-bg)!important;
  
}

.notion-checkbox.checked svg{
  display: inline!important;


}

.notion-checkbox.checked > svg {
    fill: var(--color-bg-default)!important;
}



.notion-to-do__title  {
  opacity: 1!important;
  text-align: left!important;

}


.notion-to-do__title.checked  {
  opacity: 1!important;
  text-align: left!important;
}



.notion-to-do__title.checked del {
  text-decoration: none!important;
  text-align: left!important;
}





@media (min-width: 880px) {
.notion-dropdown__menu.animate-in.animate-out, .notion-dropdown__menu.animate-in, .notion-dropdown__menu.animate-out, .notion-dropdown__menu.initial-state {
    z-index: 1!important;
    opacity: 100!important;
    
}

.notion-dropdown__menu-header {
    display: none!important;
}

.notion-dropdown__button {
    display: none!important;
}

.notion-dropdown__option-list {
    display: flex !important;
    padding: 0 !important;
}


.notion-dropdown__menu {
    background: none !important;
    box-shadow: 0px 24px 16px 0px rgba(0,0,0,0)!important;
    transform: none !important;
    left: auto !important;
    top: auto !important;
    position: relative !important;
    padding-bottom: 1em!important;
    border: none!important;
}

.notion-dropdown__option-icon {
    display: none!important;
}

.notion-dropdown__option {
    display: flex!important;
    align-items: center!important;
    padding: 0.5em 1em!important;
    cursor: pointer!important;
    border-radius: var(--border-radii-layout)!important;
    overflow: hidden!important;
    border: 1px solid var(--color-border-default)!important;
    margin-right: 0.5em!important;
    transition: 0.5s!important;
}

.notion-dropdown__option p {
    font-size: 1em!important;
}

.notion-dropdown__option:hover  {
    color: var(--color-bg-default)!important;
    background: var(--color-text-default)!important;
    border: 1px solid var(--color-text-default) !important;
}


/*MOBILE*/


@media (max-width: 880px) {
.notion-collection-board {
    grid-template-columns: 1fr!important;
}


.notion-collection-gallery.medium{
    grid-template-columns: 1fr!important;
}

.notion-collection-gallery.small{
    grid-template-columns: 1fr!important;
}


:root {
  
  --heading1-size: calc(var(--heading-size) * 1.2)!important;
  --heading2-size: calc(var(--heading-size) * 1.1)!important;
  --heading3-size: calc(var(--heading-size) * 1)!important;
}


/*R00T*/


:root {
  --heading3-size: calc(var(--heading-size) * 1)!important;
  --color-bg-blue: hsla( var(--blue-h), var(--blue-s), var(--blue-l), 0.1)!important;
  --color-bg-brown: hsla( var(--brown-h), var(--brown-s), var(--brown-l), 0.1)!important;
  --color-bg-gray: hsla( var(--gray-h), var(--gray-s), var(--gray-l), 0.1)!important;
}
